<nav>
  <button mat-button routerLink="/soru-1" routerLinkActive="active-link">
    Sorgulama Paneli
  </button>
  <button mat-button routerLink="/soru-2" routerLinkActive="active-link">
    Görev Yöneticisi
  </button>
  <button mat-button routerLink="/soru-3" routerLinkActive="active-link">
    Kart Uygulaması
  </button>
  <button mat-button routerLink="/soru-4" routerLinkActive="active-link">
    Gelişmiş Kart Uygulaması
  </button>
  <button mat-button routerLink="/soru-5" routerLinkActive="active-link">
    Harita Uygulaması
  </button>
</nav>

<router-outlet />
