nav {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: #f5f2f2;
  border-bottom: 1px solid #c3bcbc;
}
button {
  background-color: #c3bcbc;
  flex: 1;
  margin: 0 8px;
}
:host ::ng-deep .mdc-button__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active-link {
  background-color: #898b97;
}
